:root {
    --foreground-color: #000;
    --background-color: #fff;
    --link-color: #00c3f6;
    --accent-color-high: #03fbfe;
    --accent-color-low: #008eeb;
}

@media (prefers-color-scheme: dark) {

    :root {
        --foreground-color: #fff;
        --background-color: #171616;
        --link-color: #0790ec;
        --accent-color-high: #003a3b;
        --accent-color-low: #1a1e2f;

    }
}

body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    text-align: center;
    margin: 0;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    color: var(--foreground-color);
    background-color: var(--background-color);
}

header.fullscreen {
    background-image: radial-gradient(var(--accent-color-high), var(--accent-color-low));
    height: 100vh;
    width: 100vw;
    min-height: 800px;
}

header nav {
    text-align: center;
    font-weight: 300;
}

header ul {
    list-style: none;
    margin: 0;
    padding: 0 0.5em;
}

header ul li {
    display: inline-block;
    padding: 1em 0.5em;
}

header nav a {
    display: inline-block;
}

header.fullscreen nav a {
    color: #fff;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.window {
    box-sizing: border-box;
    background-size: 689px 171px;
    width: 689px;
    margin: auto;
    border-width: 91px 57px 133.5px 57px;
    border-style: solid;
    border-image: url("/images/window@2x.png") 182 114 267 114 round;
    transition: border-image 0.3s ease-in-out;
}

@media (prefers-color-scheme: dark) {

    .window {
        border-image-source: url("/images/window-dark@2x.png");
    }

}

.title {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 600;
    position: absolute;
    left: 146px;
    top: 49px;
    font-size: 13px;
    color: #494949;
}

@media (prefers-color-scheme: dark) {

    .title {
        color: #eaeaeb;
    }

}

.container {
    text-align: left;
    padding: 1px 4px;
    font-family: 'SF Mono', SFMono-Regular, ui-monospace, 'DejaVu Sans Mono', Menlo, Consolas, monospace;
    font-size: 14px;
    line-height: 1.5em;
    min-height: 500px;
    background-color: var(--background-color);
    color: var(--foreground-color);
    transition: all 0.3s ease-in-out;
}

h1, h2, h3 {
    font-family: 'SF Mono', SFMono-Regular, ui-monospace, 'DejaVu Sans Mono', Menlo, Consolas, monospace;
    margin-bottom: 2rem;
}

h1 {
    text-align: center;
}

.content, footer {
    text-align: left;
    max-width: 720px;
    margin: auto;
    font-weight: 200;
    line-height: 1.4em;
}

.content a {
    font-weight: 300;
}

@media (max-width: 760px) {
    .content {
        margin: 2rem;
    }
}

#source {
    display: none;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

.container a {
    font-weight: bold;
}

footer {
    text-align: center;
    margin: 3rem auto 1rem auto;
    font-weight: 100;
}

footer p {
    margin: 0;
}

footer nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer nav ul li {
    display: inline;
    margin-right: 0.5em;
}

footer a {
    text-decoration: underline;
    color: var(--foreground-color);
}

a.symbol::before {
    content: "";
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    background-image: url("/images/github.svg");
    filter: invert(59%) sepia(86%) saturate(2690%) hue-rotate(153deg) brightness(101%) contrast(105%);
    background-repeat: no-repeat;
    background-size: 1.2em;
    padding-right: 0.3em;
    vertical-align: text-top;
}

header.fullscreen a.symbol::before {
    filter: invert(92%) sepia(100%) saturate(0%) hue-rotate(202deg) brightness(106%) contrast(106%);
}

a.symbol.testflight::before {
    background-image: url("/images/download.svg");
}
