:root {
    --primary-foreground-color: #000;
    --secondary-foreground-color: gray;
    --secondary-background-color: rgb(246, 246, 246);
    --brand-color: #00c3f6;
    --accent-color-high: #03fbfe;
    --accent-color-low: #008eeb;
    --background-color: #ffffff;
    --navigation-background: rgba(255, 255, 255, 0.7);
    --primary-action-background-color: #007aff;
    --vertical-spacing: 1rem;
}

@media (prefers-color-scheme: dark) {

    :root {
        --primary-foreground-color: #fff;
        --secondary-foreground-color: gray;
        --background-color: #171616;
        --secondary-background-color: rgb(33, 32, 33);
        --brand-color: #0790ec;
        --accent-color-high: #003a3b;
        --accent-color-low: #1a1e2f;

        --navigation-background: rgba(24, 24, 24, 0.7);
        --primary-action-background-color: #0a84ff;
    }
}

body {
    font-family: Helvetica, sans-serif;
    font-weight: 200;
    font-size: 17px;
    margin: 0;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    color: var(--primary-foreground-color);
    background-color: var(--background-color);
}

a {
    text-decoration: underline;
    color: var(--primary-foreground-color);
}

a:hover {
    color: var(--brand-color);
}

ul.navigation {
    list-style: none;
    margin: 0;
    padding: 1em;
    background-color: white;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
    font-weight: 400;
    text-align: center;
    background: var(--navigation-background);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.showcase {
    background-image: radial-gradient(var(--accent-color-high), var(--accent-color-low));
    width: 100vw;
    transition: 0.3s ease-in-out;
}

ul.navigation a {
    text-decoration: none;
}

ul.navigation > li {
    display: inline-block;
    padding: 0.4em;
}

.window {
    box-sizing: border-box;
    background-size: 689px 171px;
    width: 689px;
    margin: auto;
    border-width: 91px 57px 133.5px 57px;
    border-style: solid;
    border-image: url("/images/window@2x.png") 182 114 267 114 round;
    transition: border-image 0.3s ease-in-out;
    position: relative;
}

@media (prefers-color-scheme: dark) {

    .window {
        border-image-source: url("/images/window-dark@2x.png");
    }

}

.title {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 600;
    position: absolute;
    left: 88px;
    top: -42px;
    font-size: 13px;
    color: #494949;
}

@media (prefers-color-scheme: dark) {

    .title {
        color: #eaeaeb;
    }

}

.container {
    text-align: left;
    padding: 1px 4px;
    font-family: 'SF Mono', SFMono-Regular, ui-monospace, 'DejaVu Sans Mono', Menlo, Consolas, monospace;
    font-size: 14px;
    line-height: 1.5em;
    min-height: 500px;
    background-color: var(--background-color);
    color: var(--primary-foreground-color);
    transition: all 0.3s ease-in-out;
}

h1, h2, h3 {
    font-family: 'SF Mono', SFMono-Regular, ui-monospace, 'DejaVu Sans Mono', Menlo, Consolas, monospace;
    margin-bottom: 2rem;
}

h1 {
    text-align: center;
}

.content, .features, footer {
    text-align: left;
    max-width: 720px;
    margin: auto;
    font-weight: 200;
    line-height: 1.4em;
}

.header {
    text-align: center;
}

.appname {
    font-weight: 800;
    text-align: center;
    font-size: 3em;
    margin-bottom: var(--vertical-spacing);
}

.tagline {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: var(--vertical-spacing);
}

.actions {
    text-align: center;
}

.button, .button:hover {
    color: white;
    background-color: var(--primary-action-background-color);
    border-radius: 100vh;
    padding: 1rem 1.6rem;
    text-decoration: none;
    display: inline-block;
}

.features ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: var(--vertical-spacing);
    row-gap: var(--vertical-spacing);
}

@media (max-width: 760px) {
    .content {
        margin: 2rem;
    }
}

#source {
    display: none;
}

.container a {
    font-weight: bold;
}

footer {
    max-width: var(--content-width);
    margin: auto;
    padding: 2em;
    text-align: center;
    color: var(--secondary-foreground-color);
    font-size: 0.9rem;
}

footer a {
    color: var(--secondary-foreground-color);
}

footer p {
    margin: var(--vertical-spacing) 0 calc(var(--vertical-spacing) / 2) 0;
}

footer nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer nav ul li {
    display: inline;
    margin-right: 0.4em;
}

a.symbol::before {
    content: "";
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    background-image: url("/images/github.svg");
    filter: invert(59%) sepia(86%) saturate(2690%) hue-rotate(153deg) brightness(101%) contrast(105%);
    background-repeat: no-repeat;
    background-size: 1.2em;
    padding-right: 0.3em;
    vertical-align: text-top;
}

header.fullscreen a.symbol::before {
    filter: invert(92%) sepia(100%) saturate(0%) hue-rotate(202deg) brightness(106%) contrast(106%);
}

a.symbol.testflight::before {
    background-image: url("/images/download.svg");
}
