:root {
    --brand-color: #00c3f6;
    --showcase-color-high: #03fbfe;
    --showcase-color-low: #008eeb;
}

@media (prefers-color-scheme: dark) {

    :root {
        --brand-color: #0790ec;
        --showcase-color-high: #003a3b;
        --showcase-color-low: #1a1e2f;
    }

}

.window {
    box-sizing: border-box;
    background-size: 689px 207px;
    width: 689px;
    margin: auto;
    border-width: 127px 57px 133.5px 57px;
    border-style: solid;
    border-image: url("/images/window@2x.png") 254 114 267 114 round;
    transition: border-image 0.3s ease-in-out;
    position: relative;
}

@media (prefers-color-scheme: dark) {

    .window {
        border-image-source: url("/images/window-dark@2x.png");
    }

}

.title {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 600;
    position: absolute;
    left: 88px;
    top: -42px;
    font-size: 13px;
    color: #494949;
}

@media (prefers-color-scheme: dark) {

    .title {
        color: #eaeaeb;
    }

}

.container {
    text-align: left;
    padding: 1px 4px;
    font-family: 'SF Mono', SFMono-Regular, ui-monospace, 'DejaVu Sans Mono', Menlo, Consolas, monospace;
    font-size: 14px;
    line-height: 1.5em;
    min-height: 500px;
    background-color: var(--background-color);
    color: var(--primary-foreground-color);
    transition: all 0.3s ease-in-out;
}

.container a {
    font-weight: bold;
}

#source {
    display: none;
}
